*{
    margin: 0;
}

#jumbodiv{

    display: grid;
    grid-template-columns: 60% auto 200px auto 10%;
    grid-template-rows: 75% auto 70px auto 10%;
    align-items: stretch;
    height: 60vh;
    width: 100vw;
    background-color: ghostwhite;
    /* background-image: url("https://images.pexels.com/photos/56904/pexels-photo-56904.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"); 
    background-image: url("https://images.pexels.com/photos/1388947/technology-telephone-mobile-smart-1388947.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    */
    background-image: url("https://images.pexels.com/photos/404280/pexels-photo-404280.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size: 100vw;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 1px;
   

}

#gsmrep {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 150px auto 45%;
    grid-template-rows: 100%;
 
    min-height: 800px;

}

#laptoprep{
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 45% auto 150px;
    grid-template-rows: 100%;
    padding: 1px;
    min-height: 800px;
}

#gsmreptitle{
    grid-column: 1 / span 2;
    grid-row: 1;
    display: flex;
    flex-direction: vertical;
    background-color: #0c0f1b;
    color: #e0e0e0;
    font-family: 'Lora', serif;;
    font-size: 70px;
    text-align: center;
    align-items: center;
   
    
}

#laptopreptitle{
    grid-column: 2 / span 2;
    grid-row: 1;
    display: flex;
    flex-direction: vertical;
    background-color: black;
    color: #e0e0e0;
    font-style: arial;
    font-size: 70px;
    text-align: center;
    align-items: center;
 
}


#gsmrepcontent{
    grid-column: 3;
    grid-row: 1;
    /*background-color: ghostwhite; */
    background-color: #e0e0e0;
    display: grid;
    grid-template-columns: 50px 100px 100px 100px auto;
    grid-template-rows:  50px 100px 100px 100px 100px 50px auto;
    grid-auto-flow: row;
    gap: 5px 5px;
 
}

#laptoprepcontent{
    grid-column: 1;
    grid-row: 1;
    background-color: #e0e0e0;
    display: grid;
    grid-template-columns: 50px 100px 100px 100px auto;
    grid-template-rows:  50px 100px 100px 100px 100px 100px 50px;
    grid-auto-flow: row;
    grid-gap: 5px 5px;
    padding: 1px;
}

#gsmrepcontent h1{
    grid-row: 2;
    grid-column: 2/ span 5;
    text-align: left;
}

#laptoprepcontent h1{
    grid-row: 2;
    grid-column: 2/ span 5;
    text-align: left;
}


#gsmrepcontent a{

    align-self: stretch;
    justify-self: stretch;
    background-color: green;
    text-align: left;

    
    
}

#laptoprepcontent a{
    align-self: stretch;
    justify-self: stretch;
    background-color: green;
    text-align: left;
}

.itema{
    grid-row: 3;
    grid-column: 2;
    background-image: url(../afbeeldingen/apple.svg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.itemb{
    grid-row: 3;
    grid-column: 3;
    background-image: url(../afbeeldingen/samsung.svg);
    background-size: 100%;
    background-repeat: no-repeat;
}
.itemc{
    grid-row: 3;
    grid-column: 4;
    background-image: url(../afbeeldingen/htc.svg);
    background-size: 100%;
    background-repeat: no-repeat;
}


.itemd{
    grid-row: 4;
    grid-column: 2;
    background-image: url(../afbeeldingen/wiko.svg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.iteme{
    grid-row: 4;
    grid-column: 3;
    background-image: url(../afbeeldingen/motorola.svg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.itemf{
    grid-row: 4;
    grid-column: 4;
    background-image: url(../afbeeldingen/lg.svg);
    background-size: 100%;
    background-repeat: no-repeat;
}


.itemg{
    grid-row: 5;
    grid-column: 2;
    background-image: url(../afbeeldingen/huawei.svg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.itemh{
    grid-row: 5;
    grid-column: 3;
    background-image: url(../afbeeldingen/blackberry.svg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.itemi{
    grid-row: 5;
    grid-column: 4;
    background-image: url(../afbeeldingen/cat.svg);
    background-size: 100%;
    background-repeat: no-repeat;
}

#gsmreplist{
    grid-row: 7;
    grid-column: 2/ span 4; 
}

#acerlogo{
    background-image: url(../afbeeldingen/acer.svg);
}

#asuslogo{
    background-image: url(../afbeeldingen/asus.svg);
}

#googlelogo{
    background-image: url(../afbeeldingen/google.svg);
}

#lenovologo{
    background-image: url(../afbeeldingen/lenovo.svg);
}

#microsoftlogo{
    background-image: url(../afbeeldingen/microsoft.svg);
}

#sonylogo{
    background-image: url(../afbeeldingen/sony.svg);
}

#transitionbackgrounda{
    background-image: url("https://images.pexels.com/photos/864994/pexels-photo-864994.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100vw;
}

#transitiondiv{
    display: flex;
    background: transparent;
    height: 50vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    padding: 1px;
    min-height: 400px;
}

.textfieldmid{
    display: flex;
    width: 60vw;
    height: 50%;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    background-color: rgba(128, 138, 41, 0.3);
    padding: 1px;
}

#gsmrepcontent h2{
    margin-bottom: 20px;
}

li{
    list-style: none;
}

li:before {
    content: "✅";
    margin-left: -20px;
    margin-right: 10px;
    }

#topnav{
    position: sticky;
    top: 0;
    display:flex;
    justify-content: space-between;
    background-color: #98A4AE; 
   /* background: linear-gradient(90deg, rgba(38,0,59,1) 8%, rgba(121,9,89,1) 56%, rgb(89, 34, 161) 93%); */
    /* alternative :     background-color: #91919c;  or lightgray; #98A4AE*/
    background: linear-gradient(90deg, rgba(121,9,89,1) 8%, rgb(89, 34, 161) 59%, rgba(38,0,59,1) 93%);
    border-bottom: 1px solid #020925;/*rgb(148, 148, 148); */
}

#homelessbox{
    display:flex;
    justify-content: right;
    margin-right: 50px;
}

#topnav a{
    padding: 10px 20px;
    background-color: transparent;
    text-decoration: none;
    color: #e0e0e0;
    font-size: 18px;
    /*font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    font-family: 'Lora', serif;
    margin-right: 4px;
    margin-bottom: 3px;
    
}

#homelessbox a:hover{
    border-bottom: 2px solid #3c3f58 ;
    padding-bottom: 8px;
}

#homebutton.orderproblem{
    background-image: url("../afbeeldingen/logo.png");
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: rgba(236, 240, 243, 0);
    padding-left: 70px;
    padding-right: 70px;
    border-left: 5px transparent rgb(236, 240, 243);
    border-right: 5px transparent rgb(236, 240, 243);
    margin-left: 50px;
    margin-bottom: 0px;
}


/*
#welkomdiv{
    display: grid;
    grid-template-columns: 50px 45% auto 150px;
    grid-template-rows: 0px auto 50% auto;
    align-items: stretch;
    height: 90vh;
    background-color: #0c0f1b;
    background-color: #e0e0e0;
    color: #0c0f1b;
    font-family: 'Lora', serif;
    font-size: 18px;
    

}

.rechts{
    display: flex;
    flex-direction: column;
    grid-row: 3;
    grid-column: 3/ span 2;
    align-items: center;
    justify-content: center;
}

.links{
    display: flex;
    flex-direction: column;
    grid-row: 3;
    grid-column: 2;
    align-items: center;
    justify-content: center;
}

.links p{
    margin-top: 50px;
   
}

#groepsfoto{
    width: 50%;

    
}
*/

#altwelkomdiv{
    display: grid;
    grid-template-columns: 20% auto 20%;
    grid-template-rows: 12% 22% auto;
    align-items: stretch;
    height: 180vh;
    background-color: #e0e0e0;
    color: #0c0f1b;
    font-family: 'Lora', serif;
    font-size: 18px;
    padding-bottom: 80px;
}

#altwelkomdiv p{
    margin-top: 50px;
    text-align: center;
    
}

#altcontainer{
    grid-row: 2;
    grid-column: 2;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    border-bottom: 1px solid black;
    
    
}

#jumbobuttona{
    display: flex;
    grid-row: 3;
    grid-column: 3;
    background-color: rgb(45, 160, 206);
    text-decoration: none;
    font-family: 'Lora', serif;
    color: rgb(10, 8, 8);
    align-items: center;
    justify-content: center;
    font-size: 25px;
    box-shadow: 4px 0px 33px 3px rgba(45,160,206,1);

}

#jumbobuttona:hover{
    background-color: rgb(45, 201, 206);
    box-shadow: 4px 0px 33px 6px rgba(45,201,206,1);
}

#welkominfo{
    grid-row: 3;
    grid-column: 1/ span 3;
    display: grid;
    grid-template-columns: 20% auto 25% 30px 25% auto 20%;
    grid-template-rows: 15% 35% 10% 35%;

}

#welkominfodeela{
    grid-row: 2;
    grid-column: 3;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: left;
}

#welkominfodeelb{
    grid-row: 4;
    grid-column: 5;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: left;
}

#welkominfo p{
    text-align: left;
}

#welkomafbeeldinga{
    grid-column: 5;
    grid-row: 2;
    width: 100%;
}

#welkomafbeeldingb{
    grid-column: 3;
    grid-row: 4;
    width: 100%;
}